{
  "root": true,
  "extends": [
    "mdcs",
    "next",
    "plugin:tailwind/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "import",
    "@typescript-eslint/eslint-plugin"
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "no-console": "warn",
    "no-var": "error"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts",
        ".tsx"
      ]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "ignorePatterns": [
    "src/**/*.test.ts",
    "src/frontend/generated/*"
  ]
}
